.education-container {
  font-family: 'VT323', monospace;
  width: 100vw;
  display: flex;
  @media screen and (max-width: 730px) {
   flex-direction: column;
    }

  .education-left {
    height: 100vh;
    flex: 1;
    padding: 50px 40px 0 40px;
    color: #b8e1dd;
    background-color: #106258;
   
    @media screen and (max-width: 730px) {
      padding: 50px 10px 0 10px;
       }

    h1 {
      text-align: center;
      margin: 50px;
      font-size: 3rem;
    }
  }

  .education-right {
    flex: 1;
    height: 100vh;
    padding: 50px 40px 0 40px;
    color: #106258;
    background-color: #b8e1dd;
    @media screen and (max-width: 730px) {
      padding: 50px 20px 0 20px;
       }

    h1 {
      text-align: center;
      margin: 50px;
      font-size: 3rem;
    }
  }
}
