.nav-container {
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #062925;

  .logo {
    font-size: 1.2rem;
    padding: 7px;
    margin-left: 5px;
    color: #B8E1DD;
    @media screen and (max-width: 530px) {
      display: none;
      }

    .logo-text {
      margin-left: 1px;
      font-size: 0.5rem;
    }
  }

  .tabs {
    display: flex;
    
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      transition: 500ms;
      
        @media screen and (max-width: 480px) {
        padding: 10px 15px;
        }

      .link {
        text-decoration: none;
        color: #B8E1DD;
        font-family: 'VT323', monospace;
      font-size: 1.2rem;
      }
    }
    
    .tab:hover {
      background-color: #044A42;
      color: #F9CC7B;
    }
  }
}

