.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'VT323', monospace;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
   }

  .left {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #126258;
    width: 50vw;

    @media screen and (max-width: 800px) {
      width: 100vw;
      }

    .title {
      text-align: center;
      color: #97cba9;
      font-weight: 400;
      font-size: 2rem;
      margin: 60px auto;
    }

    .skills {
      display: flex;
      flex-direction: column;
    }
  }

  .right {
    background-color: #B8E1DD;
    color: #126258 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50vw;

    @media screen and (max-width: 800px) {
     width: 100vw;
     padding: 20px 0;
     margin: 0 40px;
     }

    .title-detail {
      margin-top: 50px;
      text-align: center;
    }
   
    ul {
      line-height: 1.5;
      margin: 0 60px;

      li {
        margin: 40px auto;
        list-style-type: none;

        span {
          display: block;
          text-align: center;
          font-size: 1.3rem;
        }

        p {
          font-family: 'Roboto Condensed', sans-serif;
          text-indent: 20px;
        }
      }
    }
  }

}


