.portfolio-card {
  font-family: 'VT323', monospace;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 650px) {
    flex-direction: column;
    }


  .card-text-right {
    flex: 2;
    margin: 50px;
    text-align: center;
    @media screen and (max-width: 650px) {
      margin: 0 0 40px 0;
      
    }

    .card-title {
      font-size: 2rem;
    }

    .card-subtitle {

      @media screen and (max-width: 650px) {
        margin-bottom: 30px;
      }

      .lang-subtitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .card-pic-left {
    flex: 4;
    padding: 0;
    width: 100%;

   img {
    align-items: center;
    width: 90%;
    padding: 0;
    margin: 50px 5%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    @media screen and (max-width: 650px) {
      margin: 20px 5% 10px 5%;
    }
   }
  }
}